<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/resume.css" />
  </head>
  <body>
    <div class="container">
      <h1>kelly dunn</h1>
      <small>curious engineer, quirky artist</small>
      <small class="pull-right"> kelly-dunn.me | defaultstring at gmail dot com | 206.293.7555</small>
      <hr />
      <div class="row-fluid">
	<div class="span2">
	  <h4>Professional Objective</h4>
	</div>
	<div class="span10">
	  <p>To create products that enable humans to do amazing things, like improve the environment, expand our scientific knowledge, and express themselves.</p>
	</div>
      </div>
      <hr />
      <div class="row-fluid">
	<div class="span2">
	  <h4>Experience</h4>
	</div>
	<div class="span10">
          <%- partial('_simple') %>
          <%- partial('_simply_measured') %>
          <%- partial('_sifteo') %>
          <%- partial('_kld_llc') %>
          <%- partial('_originate') %>
	  <%- partial('_uw.ejs') %>
	</div>
      </div>
      <hr />
      <div class="row-fluid">
	<div class="span2">
	  <h4>Programming Languages</h4>
	</div>
	<div class="span10">
	  <div class="span3">
	    <strong>Proficient</strong>
	    <ul class="unstyled">
              <li>Ruby</li>              
	      <li>Go</li>
	      <li>C</li>
	    </ul>
	  </div>
	  <div class="span3">
	    <strong>Knowledgeable</strong>
	    <ul class="unstyled">
	      <li>Java</li>
	      <li>Clojure</li>
	    </ul>
	  </div>
	  <div class="span3">
	    <strong>Exposure</strong>
	    <ul class="unstyled">
	      <li>Scala</li>
	    </ul>
	  </div>
	</div>
      </div>
      <hr />
      <div class="row-fluid">
	<div class="span2">
	  <h4>Protocols</h4>
	</div>
	<div class="span10">
	  <div class="span3">
	    <strong>Proficient</strong>
	    <ul class="unstyled">
	      <li>HTTP / HTTP2.0</li>
	      <li>SSL / TLS</li>
	      <li>MIDI</li>
	      <li>OSC</li>
	    </ul>
	  </div>
	  <div class="span3">
	    <strong>Knowledgeable</strong>
	    <ul class="unstyled">
	      <li>USB</li>
	      <li>TCP / UDP</li>
	      <li>RTP / RTCP</li>
	      <li>RTSP</li>
	      <li>DLNA</li>
	    </ul>
	  </div>
	  <div class="span3">
	    <strong>Exposure</strong>
	    <ul class="unstyled">
	      <li>SPDY</li>
	      <li>DMX / RDMX</li>
	    </ul>
	  </div>
	</div>
      </div>
      <hr />
      <div class="row-fluid">
	<div class="span2">
	  <h4>Tools and utilities</h4>
	</div>
	<div class="span10">
	  <div class="span3">
	    <strong>Proficient</strong>
	    <ul class="unstyled">
	      <li>Emacs</li>
	      <li>Git</li>
	      <li>Linux (Arch / Debian)</li>
	      <li>Vagrant / Ansible / Chef</li>
	      <li>PostgreSQL / MySQL</li>
	      <li>Nginx </li>
	      <li>Jenkins</li>
              <li>AMQP</li>
	    </ul>
	  </div>
	  <div class="span3">
	    <strong>Knowledgeable</strong>
	    <ul class="unstyled">
	      <li>Apache</li>
	      <li>Redis </li>
	      <li>Selenium</li>
	      <li>gdb</li>
	      <li>LLVM</li>
	    </ul>
	  </div>
	  <div class="span3">
	    <strong>Exposure</strong>
	    <ul class="unstyled">
	      <li>Nagios</li>
	      <li>Kibana</li>
              <li>Elastic Search</li>
	    </ul>
	  </div>
	</div>
      </div>
      <hr />
      <div class="row-fluid">
	<div class="span2">
	  
	  <h4>Notable Projects</h4>
	</div>
	<div class="span10">
	  <h5>
	    golang-geo
	    <small>(https://github.com/kellydunn/golang-geo) - Geographical calculations in  golang.</small>
	  </h5>
	  <h5>
            crunchy
	    <small>(https://bitbucket.org/kellydunn/crunchy) - Additive Wavetable Synthesizer in Rust.</small>
	  </h5>
	  <h5>
	    go-art
	    <small>(https://github.com/kellydunn/go-art) - an implementation of Adaptive Radix Trees (ART) in golang.</small>
	  </h5>
	  <h5>
	    mumble
	    <small>(https://github.com/kellydunn/mumble) - a MIDI multiplexer for monomes.</small>
	  </h5>
	</div>
      </div>
      <hr />
      <div class="row-fluid">
	<div class="span2">
	  <h4>Education</h4>
	</div>
	<div class="span10">
	  <h4>University of Washington</h4>
	  <h5>
	    Bachelor of Arts in Japanese Linguistics
	    <small>September 2006 - June 2010</small>
	  </h5>
	  <p></p>
	</div>
      </div>
      <hr />
      <div class="row-fluid">
	<div class="span2">
	  <h4>Volunteer Work</h4>
	</div>
	<div class="span10">
	  <h4>Railsbridge</h4>
	  <h5>
	    Volunteer Instructor and Organizer
	    <small>October 2010 - November 2011</small>
	  </h5>
	  <p></p>
	  <p>Instructed and organized weekend workshops that enabled participants to create web applications using the Ruby on Rails framework.  Events were held in the spirit of advocating and enabling gender diversity in technology.</p>
	</div>
      </div>
      <hr />
      <div class="row-fluid">
	<div class="span2">
	  
	  <h4>Personal</h4>
	</div>
	<div class="span10">
	  <div class="span3">
	    <ul class="unstyled">
	      <li>Musician</li>
	      <li>Homebrewer</li>
	      <li>Rock Climber</li>
	      <li>Painter</li>
	      <li>Open Source Contributor</li>
	    </ul>
	  </div>
	</div>
      </div>
      <hr />
      <br />
      <br />
    </div>
  </body>
</html>
