<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/resume.css" />
  </head>
  <body>
    <div class="container">
      <div class="row-fluid">
        <div class="span9">
          <h1>Kelly Dunn</h1>
        </div>
        <div class="span3">
          <strong>LinkedIn</strong>: dunnkelly
          <br/>
          <strong>Github</strong>: kellydunn</small>
        </div>
      </div>
      <hr/>
      <div class="row-fluid">
        <div class="span2">
        </div>
        <div class="span10">
          <%- partial('_general') %>
        </div>
      </div>
      <hr/>
      <div class="row-fluid">
        <div class="span2">
          <h4>Professional Experience</h4>
        </div>
	      <div class="span10">
          <%- partial('_splice') %>
          <%- partial('_simple') %>
          <%- partial('_simply_measured') %>
          <%- partial('_contracting') %>
	      </div>
      </div>
      <hr />
      <div class="row-fluid">
        <div class="span2">
          <h4>Education</h4>
        </div>
        <div class="span10">
          <h4>University of Washington</h4>
          <h5>
            Bachelor of Arts in Japanese Linguistics
            <small>September 2006 - June 2010</small>
          </h5>
        </div>
      </div>
    </div>
  </body>
</html>
