<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/resume.css" />
  </head>
  <body>
    <div class="container">
      <h1>kelly dunn</h1>
      <small>multi-disciplined engineer working in distributed systems and consumer electronics</small>
      <hr />
      <div class="row-fluid">
	<div class="span2">
	  <h4>Professional Experience</h4>
	</div>
	<div class="span10">
          <%- partial('_simple') %>
          <%- partial('_simply_measured') %>
          <%- partial('_sifteo') %>
          <%- partial('_kld_llc') %>
          <%- partial('_originate') %>
	  <%- partial('_uw.ejs') %>
	</div>
      </div>
      <hr />
      <div class="row-fluid">
	<div class="span2">
	  <h4>Programming Languages</h4>
	</div>
	<div class="span10">
	  <div class="span3">
	    <strong>Proficient</strong>
	    <ul class="unstyled">
              <li>Ruby</li>              
	      <li>Go</li>
	      <li>C</li>
	    </ul>
	  </div>
	  <div class="span3">
	    <strong>Knowledgeable</strong>
	    <ul class="unstyled">
	      <li>Java</li>
	      <li>Rust</li>
              <li>Python</li>
	    </ul>
	  </div>
	</div>
      </div>
      <hr />
      <div class="row-fluid">
	<div class="span2">
	  <h4>Tools and utilities</h4>
	</div>
	<div class="span10">
	  <div class="span3">
	    <strong>Proficient</strong>
	    <ul class="unstyled">
	      <li>Emacs</li>
	      <li>Git</li>
	      <li>Linux</li>
	      <li>Vagrant / Ansible / Chef</li>
	      <li>PostgreSQL / MySQL</li>
              <li>RabbitMQ</li>
	    </ul>
	  </div>
	  <div class="span3">
	    <strong>Knowledgeable</strong>
	    <ul class="unstyled">
	      <li>Nginx / Apache</li>
	      <li>Elastic Search</li>
	      <li>LLVM</li>
              <li>Kafka</li>
	    </ul>
	  </div>
	</div>
      </div>
      <hr />
      <div class="row-fluid">
	<div class="span2">
	  <h4>Education</h4>
	</div>
	<div class="span10">
	  <h4>University of Washington</h4>
	  <h5>
	    Bachelor of Arts in Japanese Linguistics
	    <small>September 2006 - June 2010</small>
	  </h5>
	  <p></p>
	</div>
      </div>
      <hr />
      <div class="row-fluid">
	<div class="span2">
	  <h4>Volunteer Work</h4>
	</div>
	<div class="span10">
	  <h4>Digital Democracy</h4>
	  <h5>
	    Volunteer Engineer
	    <small>Feburary 2015</small>
	  </h5>
	  <p></p>
          <p>Created a Cloud Persistance layer for oil spill data in the Peruvian Rainforest.</p>
	  <h4>Girl Develop It</h4>
	  <h5>
	    Volunteer Instructor
	    <small>June 2014 - June 2015</small>
	  </h5>
	  <p></p>
	  <p>Aided in instructing workshops that focused on Web Development fundametals.</p>
	  <h4>Railsbridge</h4>
	  <h5>
	    Volunteer Instructor and Organizer
	    <small>October 2010 - November 2011</small>
	  </h5>
	  <p></p>
	  <p>Instructed and organized weekend workshops that focused on creating web applications using the Ruby on Rails framework.</p>
	</div>
      </div>
      <hr />
    </div>
  </body>
</html>
